.we{
    width: 12%;
    height: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin: auto;
    margin-bottom: 72px;
}

.para1{
    width: 79.15%;
    height: 144px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: auto;
    margin-bottom: 83px;
}

.para2{
    width: 79.15%;
    height: 264px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: auto;
}

.helping-you{
    width: 29.26%;
    height: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #00FF29;
    margin: auto;
}
