.gallery{
    font-family: Rozha One;
    font-style: normal;
    font-weight: normal;
    font-size: 350%;
    line-height: 95px;
    text-align: center;
}
.line{

width:20%;
height: 10px;
border-radius: 10px;
margin-left: 40%;
background: #FF546D;
}
#contain{
    width: 90%;
    margin-left: 5%;
}
.exterior{
    position: relative;
    top: -55px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}
#row1img{
    display: grid;
    margin-top: -19px;
    grid-template-columns: repeat(3,34%);
    margin-bottom: 40px;
    

}
#row1img img{
    width: 95%;
    height: 237px;
}
.selectColor{
    display: grid;
    grid-template-columns: repeat(3,34%);
}
.selectColor p{
    width: 95%;
    height: 27px;
}
.white{
    margin-top: -25px;
    border: 1px solid #000000;
    margin-bottom: 40px;
}
.grey{
    margin-top: -25px;
    background-color: grey;
}
.blue{
    margin-top: -25px;
    background-color: #FF546D;
}
.playButton {
   
   display: grid;
   grid-template-columns: repeat(3,34%);
}
.playButton img{
    position: relative;
    top: -170px;
    left: 210px;
    width: 40px;
    height: 40px;
}