.exper-div{
    width: 45.52%;
    height: 40px;
    margin-left: 16px;
    margin: auto;
    margin-top: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.support-div{
    width: 12.11%;
    height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    margin: auto;
    margin-top: 10px;
}

.raise-ticket-div{
    width: 26.18%;
    height: 74px;
    background: #FF546D;
    margin: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
    margin-top: 3.5%; 
    box-shadow: 0px 6px 10px gray
}

.connect-div{
    width: 58.47%;
    height: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    margin: auto;
    margin-top: 4.05%;
}

.ticket-num-div{
    width: 38%;
    height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin: auto;
}
.stack-div{
    margin-left: 8.08%;
}
.name-div{
    display: flex;
    flex-basis:82 ;
}
.name-input{
    width: 346px;
    height: 49px;
    background: #E8E8E8;
    margin-left: 113px;
    border: none;
   /* margin-right: 0px; */
}
.name-label{
    width: 12.29%;
    height: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-left: 113px;
}
.m-left{
    margin-left: 36px;
}
.problem-input{
    width: 83%;
    height: 230px;
    display: block;
    margin: auto;
    background: #E8E8E8;  
    border: none;
}

.problem-label{
    width: 12.29%;
    height: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-left: 8.2%;
}

.response-div{
    width: 26.375%;
    height: 96px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 48px;
    text-align: center;
    color: #000000;
    margin: auto;
}

/* .tickMark-div{
    width: 146px;
height: 146px;
background: #00FF29;
border-radius: 105px;
} */

.mark{
    /* width: 18.88%;
    height: 274px; */
    justify-content: center; 
    align-items: center;
    margin: auto;
    display: block;
    margin-top: 4.05%;
}

.solve-asap-div{
    width: 68%;
    height: 65px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 53px;
    line-height: 65px;
    text-align: center;
    color: #000000;
    margin: auto;
}

.your-num-div{
    width: 28%;
height: 61px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 61px;
text-align: center;
color: #000000;
margin: auto;
}

.share-div{
    width: 12%;
    margin:auto;
}
